$brown-1: #ede6cb;
$brown-2: #f5d893;
$brown-3: #e8b26f;
$brown-4: #b6834c;
$brown-5: #704d2b;
$brown-6: #40231e;

$black-1: #140c1c;
$white-1: #FFF1E8;

$red-1: #d04648;
$red-2: #ab383a;

$blue-1: #597dce;
$blue-2: #3b619b;

$green-1: #6daa2c;
$green-2: #55751f;

// $input-background-color: #ffffff;
// $input-placeholder-color: #999999;
// $input-border-color: #cccccc;
// $input-border-focus-color: #666666;


// $comments-section-background-color: #f2f2f2;
// $comments-section-similar-color: #ffffff;
// $comments-section-complementary-color: #666666;