.news-page {
    color: #22223b;
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 20px;
  
    .news-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
  
      .news-title {
        font-size: 36px;
        display: block;
        
      }
    }
  }